body {
	font-family: 微软雅黑,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

pre {
	font-size: 12px;
	line-height: 12px;
	width: 728px;
	margin: auto;
	border: 10px solid #FFE4B5;
	padding: 10px;
	border-radius: 10px;
	font-family: "Droid Sans Mono", "Lucida Console", "Andale Mono", "Courier New", "Courier", monospace;
}

a.back-home {
	color: red;
}

div.box {
	width: 280px;
	padding: 5px;
	/*float: left;*/
	position: absolute;

}

div.box .innerBox {
	border: 10px solid #FFE4B5;
	border-radius: 10px;
	overflow: hidden;
	padding: 5px;
}

.innerBox img {
	width: 100%;
}

.innerBox h1 {
	font-size: 20px;
}

.innerBox p {
	text-indent: 2em;
}

.clear {
	clear: both;
}

div.box h2{
	text-align: center;
}

div.box a {
	text-decoration: none;
}

.grid-gallery {
	position: relative;
	margin: 15px auto;
}

.content {
	width: 600px;
}

.content p {
	text-indent: 2em;
}

.read_more a {
	color: red;
}