<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <meta name="description" content="你是不是总感觉日常用品平淡无奇，毫无新意？是不是对各种好玩的小物件充满兴趣？是不是一直想寻找极富创意的礼物送给朋友、家人？创意物品大搜罗或许可以给你惊喜。" />
    <meta name="keywords" content="创意物品" />
    <meta name="author" content="Kayson Li" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
  </head>
  <body>

  {{ content }}

    <script src="{{ site.url }}/js/jquery-1.7.1.min.js"></script>
    <script src="{{ site.url }}/js/waterfall.js"></script>
    <script type="text/javascript">
    </script>
    {% include JB/comments %}
    {% include JB/sharing %}
    {% include JB/analytics %}
  </body>
</html>
